/* GENERALI */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

body {
    font-family: 'Montserrat', sans-serif;
}
/* FINE GENERALI */



/* COMUNI */
.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.opacity-06 {
    opacity: 0.6;
}

.font-size-08em {
    font-size: 0.8em;
}

.bold {
    font-weight: bold;
}
/* FINE COMUNI */



/* MAIN */
main {
    height: calc(100vh - 90px);
    width: 100%;
}

main::after {
    content: "";
    display: table;
    clear: both;
}

/* sidebar */
main .sidebar {
    width: 220px;
    height: 100%;
    float: left;
    background-color: #000;
    padding-right: 20px;
    min-height: 460px;
}

/* sidebar-top */
.sidebar-top {
    height: calc(100% - 80px);
    /* istruzioni per lo scroll di playlist */
    display: flex;
    flex-direction: column;
    /*  */
    overflow-y: hidden;
}

.sidebar-top .logo {
    width: 100%;
    height: 90px;
    align-items: center;
    min-height: 90px; /* per restringimento altezza finestra */
    padding-left: 20px;
}

.sidebar-top .logo img {
    width: 130px;
}

.sidebar-top .logo-mobile {
    width: 100%;
    height: 25px;
    text-align: center;
    display: none;
}

.sidebar-top .logo-mobile img {
    height: 100%;
}

.sidebar-menu li {
    border-left: 3px solid transparent;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 17px;
}

.sidebar-menu li.active {
    border-left: 3px solid rgb(169, 250, 45);
}

.sidebar-menu li:last-child {
    margin-bottom: 20px;
}

.sidebar-menu li a {
    display: inline-block;
    height: 25px;
}

.sidebar-menu li img {
    height: 100%;
    vertical-align: middle;
}

.sidebar-menu span:hover {
    opacity: 1;
}

.sidebar-top .playlist {
    padding-left: 20px;
}

.playlist h4 {
    text-transform: uppercase;
}

.playlist .new-playlist {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.new-playlist button {
    background-color: rgb(163, 163, 163);
    border: none;
    height: 30px;
    width: 30px;
    margin-right: 5px;
    cursor: pointer;
}

.playlist .new-playlist:hover button {
    background-color: #fff;
}

.new-playlist button span {
    display: inline-block;
    transform: scale(2);
    padding-bottom: 2px;
    color: #000;
}

.playlist .new-playlist:hover span,
.playlist .playlist-list a:hover {
    opacity: 1;
}

/* istruzioni per lo scroll di playlist */
.playlist {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}
/*  */

.playlist .playlist-list {
    /* istruzioni per lo scroll di playlist */
    /* height: 35vh; */
    /* */ overflow-y: auto;
} 

.playlist .playlist-list li {
    padding-top: 20px;
} 

/* sidebar-bottom */
.sidebar-bottom {
    padding-left: 20px;
    padding-top: 10px;
}

.sidebar-bottom .download:hover span{
    opacity: 1;
}

.sidebar-bottom .download img {
    width: 15px;
    margin-right: 10px;
    vertical-align: middle;
}

.sidebar-bottom .user {
    align-items: center;
    margin-top: 10px;
    padding: 10px 0px;
    border-top: 1px solid rgba(255, 255, 255, 0.6);
}

.sidebar-bottom .user .pro-pic {
    width: 25px;
    height: 25px;
    background-color: rgb(128, 128, 128);
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.sidebar-bottom .user img {
    width: 100%;
    height: 100%;
}

/* container */
main .container {
    height: 100%;
    width: calc(100% - 220px);
    float: left;
    overflow-y: scroll;
    background-color: rgb(21, 25, 34);
}

/* call-to-action */
.container .cta {
    width: calc(100% - 220px);
    height: 90px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: flex-end;
    align-items: center;
    z-index: 999;
}

.cta button {
    cursor: pointer;
    padding: 10px 30px;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid #fff;
    border-radius: 50px;
    margin-right: 15px;
}

.cta button:hover {
    transform: scale(1.1);
}

/* menu in alto */
.content {
    margin-top: 90px;
}

.content .content-menu {
    text-transform: uppercase;
    text-align: center;
}

.content-menu li {
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}

.content-menu li a:hover {
    opacity: 1;
}

.content-menu li.active::after {
    content: "";
    width: 30px;
    height: 3px;
    background-color: rgb(169, 250, 45);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

/* sezioni */
.content section {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.content .card-container {
    align-items: start;
}

.card-container .card {
    width: calc((100% - 90px) / 6);
    margin-top: 25px;
    margin-right: 15px;
    text-align: center;
}

.card-container .card-cover {
    position: relative;
}

.card-container .card .cover-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
    visibility: hidden;
}

.card-container .card:hover {
    cursor: pointer;
}

.card-container .card:hover .cover-overlay{
    visibility: visible;
}

.card-container .card-cover img {
    width: 100%;
}

.card-container .card-txt h4 {
    margin: 5px 0px;
}

#personalized h2, #popular h2 {
    margin-bottom: 5px;
}

#popular .card-cover {
    border-radius: 50%;
    overflow: hidden;
}

/* FINE MAIN */



/* FOOTER */
footer {
    height: 90px;
    width: 100%;
    background-color: rgb(40, 40, 40);
    padding: 0px 10px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
}

footer .song {
    align-items: center;
    width: 210px;
    justify-content: space-between;
}

.song .song-container {
    align-items: center;
}

.song .album-cover {
    width: 40px;
    height: 40px;
}

.song .album-cover img {
    height: 100%;
}

.song .song-txt {
    margin: 0px 10px;
}

.song .song-txt .song-name:hover {
    opacity: 1;
    text-decoration: underline;
}

.song .song-icon a {
    margin: 0px 5px;
}

.song .song-icon a:hover {
    opacity: 1;
}

footer .bar-container {
    width: 80%;
    height: 11px;
    padding: 4px 0px;
    /* altrimenti l'area cliccabile sarebbe stata di soli 3 pixel */
}

footer .bar {
    width: 100%;
    height: 100%;
    background-color: rgb(91, 91, 91);
    border-radius: 5px;
    align-self: center;
}

footer .bar .bar-fill {
    width: 20%;
    height: 100%;
    border-radius: 5px;
    background-color: rgb(193, 193, 193);
    position: relative;
}

footer .bar .bar-cursor {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    right: 0;
    transform: translate(50%, -30%);
    visibility: hidden;
}

.player-control {
    min-width: 180px;
    max-width: 600px;
    width: 35%;
    align-items: center;
    align-self: flex-start;
    margin: 0px 20px;
}

.player-control .player-button {
    width: 180px;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 15px;
}

.player-control .playback-bar {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 0.7em;
}

.extra-control {
    align-items: center;
}

.extra-control i {
    margin-right: 15px;
}

.extra-control .bar-container{
    width: 100px;
}

.extra-control .bar-container .bar{
    width: 100%;
}

.player-control .player-button i:hover,
footer .bar-container:hover,
.extra-control i:hover {
    cursor: pointer;
}

.player-control .player-button i.fa-play-circle:hover {
    transform: scale(1.1);
}

footer .bar-container:hover .bar-fill {
    background-color: rgb(169, 250, 45);
}

footer .bar-container:hover .bar-cursor {
    visibility: visible;
}
/* FINE FOOTER */




/* MEDIA QUERY XS */
@media only screen and (max-width: 575px) {

    main .sidebar {
        width: 50px;
        padding: 0;
        min-height: 250px;
    }

   .sidebar-top .logo-mobile {
        display: block;
        margin-top: 5px;
        margin-bottom: 10px;
    }

   .sidebar-top .logo,
   .sidebar-menu li span,
   .sidebar-top .playlist,
   .sidebar-bottom .download span,
   .sidebar-bottom .user span {
        display: none;
    }

   .sidebar-menu li,
   .sidebar-menu li.active,
   .sidebar-bottom .user {
        border: none;
    }

    .sidebar-bottom .download{
        display: block;
    }

    .sidebar-menu,
    .sidebar-bottom .download {
        text-align: center;
    }

    .sidebar-bottom .user {
        justify-content: center;
    }

    .sidebar-menu li,
    .sidebar-bottom {
        padding-left: 0;
    }

    .sidebar-bottom .download img,
    .sidebar-bottom .user .pro-pic {
        margin: 0;
    }
    
    main .container {
        width: calc(100% - 50px);
    }

    .container .cta {
        width: calc(100% - 50px);
    }

    .content .card-container {
        flex-wrap: wrap;
    }

    .card-container .card {
        width: calc((100% - 30px) / 2);
    }

    .card-container .card .cover-overlay {
        font-size: 10vw;
    }

    footer .song .album-cover {
        width: 30px;
        height: 30px;
    }

    footer .extra-control i {
        margin-right: 10px;
    }
}



/* MEDIA QUERY S */
@media only screen and (min-width: 576px) and (max-width: 767px) {

    .content .card-container {
        flex-wrap: wrap;
    }

    .card-container .card {
        width: calc((100% - 30px) / 2);
    }

    .card-container .card .cover-overlay {
        font-size: 8vw;
    }
}


/* MEDIA QUERY MD */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .content .card-container {
        flex-wrap: wrap;
    }

    .card-container .card {
        width: calc((100% - 60px) / 4);
    }

    .card-container .card .cover-overlay {
        font-size: 6vw;
    }
}